<div class="table-responsive">
  <table id="section_table" class="table table-striped table-hover" style="width:100%">
    <thead id="section_table_head" class="table-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">section_num</th>
        <th scope="col">cut_plane</th>
        <th scope="col">thickness</th>
        <th scope="col">prep_type</th>
        <th scope="col">fluorescent_labels</th>
        <th scope="col">date_added</th>
        <th scope="col">last_modified</th>
      </tr>
    </thead>
    <tbody>
    {% for section in section_list %}
      <tr>
        <td>
          <form action="{{ url_for('tracker.section_update', specimen_id=section['specimen_id'], section_num=section['section_num'], action='duplicate') }}">
            <input type="submit" class="btn btn-secondary btn-xs" value="Duplicate" />
          </form>
        </td>
        <td>
          <form action="{{ url_for('tracker.section_update', specimen_id=section['specimen_id'], section_num=section['section_num']) }}">
            <input type="submit" class="btn btn-secondary btn-xs" value="Edit" />
          </form>
        </td>
        <td>
          <form action="{{ url_for('tracker.section_delete', specimen_id=section['specimen_id'], section_num=section['section_num']) }}">
            <input type="submit" class="btn btn-secondary btn-xs" value="Delete" />
          </form>
        </td>
        <td><a href="{{ url_for('tracker.section_view', specimen_id=section['specimen_id'], section_num=section['section_num']) }}">{{ section['section_num'] }}</a></td>
        <td>
          {% if 'cut_plane' in section %}
            {{ section['cut_plane'] }}
          {% endif %}
        </td>
        <td>
          {% if 'thickness' in section %}
            {{ section['thickness'] }}
          {% endif %}
        </td>
        <td>
          {% if 'prep_type' in section %}
            {{ section['prep_type'] }}
          {% endif %}
        </td>
        <td>
          {% if 'fluorescent_labels' in section %}
            {{ section['fluorescent_labels'] }}
          {% endif %}
        </td>
        <td>
          {% if 'date_added' in section %}
            {{ section['date_added'].strftime('%m/%d/%y %I:%M:%S %p') }} 
            by {% if 'added_by' in section %}{{ section['added_by'] }}{% endif %}
          {% endif %}
        </td>
        <td>
          {% if 'last_modified' in section %}
            {{ section['last_modified'].strftime('%m/%d/%y %I:%M:%S %p') }} 
            by {% if 'last_modified_by' in section %}{{ section['last_modified_by'] }}{% endif %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#section_table').DataTable({
        columnDefs: [
            {orderable: false, targets: [0, 1, 2]},
            {searchable: false, targets: [0, 1, -1, -2]}
        ],
        order: [[$('#section_table_head tr th').length - 1, 'desc']]
    });

    console.log("Section table head")
    console.log($('#section_table_head tr th').length - 1)
  });
</script>