<form action="{{ url_for('tracker.specimen_update') }}">
  <input type="submit" class="btn btn-primary btn-sm" value="Insert New Specimen" />
</form>

<br>

<div class="table-responsive">
  <table id="specimen_table" class="table table-striped table-hover" style="width:100%">
    <thead id="specimen_table_head" class="table-dark">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th scope="col">specimen_id</th>
        <th scope="col">pedigree</th>
        <th scope="col">experiment</th>
        <th scope="col">sex</th>
        <th scope="col">dob</th>
        <th scope="col">perfusion_date</th>
        <th scope="col">date_added</th>
        <th scope="col">last_modified</th>
      </tr>
    </thead>
    <tbody>
    {% for specimen in specimen_list %}
      <tr>
        <td>
          <form action="{{ url_for('tracker.specimen_update', specimen_id=specimen['specimen_id'], duplicate=True) }}">
            <input type="submit" class="btn btn-secondary btn-xs" value="Duplicate" />
          </form>
        </td>
        <td>
          <form action="{{ url_for('tracker.specimen_update', specimen_id=specimen['specimen_id']) }}">
            <input type="submit" class="btn btn-secondary btn-xs" value="Edit" />
          </form>
        </td>
        <td>
          <form action="{{ url_for('tracker.specimen_delete', specimen_id=specimen['specimen_id']) }}">
            <input type="submit" class="btn btn-secondary btn-xs" value="Delete" />
          </form>
        </td>
        <td><a href="{{ url_for('tracker.specimen_view', specimen_id=specimen['specimen_id']) }}">{{ specimen['specimen_id'] }}</a></td>
        <td>{{ specimen['pedigree'] }}</td>
        <td>{{ specimen['experiment'] }}</td>
        <td>{{ specimen['sex'] }}</td>
        {% if specimen['dob'] is string %}
          <td>{{ specimen['dob'] }}</td>
        {% else %}
          <td>{{ specimen['dob'].strftime('%m/%d/%y') }}</td>
        {% endif %}
        {% if specimen['perfusion_date'] is string %}
          <td>{{ specimen['perfusion_date'] }}</td>
        {% else %}
          <td>{{ specimen['perfusion_date'].strftime('%m/%d/%y') }}</td>
        {% endif %}
        <td>{{ specimen['date_added'].strftime('%m/%d/%y %I:%M:%S %p') }} 
          by {% if 'added_by' in specimen %}{{ specimen['added_by'] }}{% endif %}</td>
        <td>{{ specimen['last_modified'].strftime('%m/%d/%y %I:%M:%S %p') }} 
          by {% if 'last_modified_by' in specimen %}{{ specimen['last_modified_by'] }}{% endif %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#specimen_table').DataTable({
        columnDefs: [
            {orderable: false, targets: [0, 1, 2]},
            {searchable: false, targets: [0, 1, -1, -2]}
        ],
        order: [[$('#specimen_table_head tr th').length - 1, 'desc']]
    });
  });
</script>