{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}View Specimen{% endblock %}</h1>
{% endblock %}

{% block content %}
    <img src="{{ url_for('static', filename='pinkybrain.gif') }}" alt="Gif here"/>

    <hr>

    <a href="{{ url_for('tracker.edit', specimen_id=specimen_json['mouse_id']) }}">Edit</a>

    <table class="table table-striped text-left">
        <tr>
            <td>Specimen ID</td>
            <td>{{ specimen_json['mouse_id'] }}</td>
        </tr>
        <tr>
            <td>Experiment</td>
            <td>{{ specimen_json['experiment_or_reason'] }}</td>
        </tr>
        <tr>
            <td>Pedigree</td>
            <td>{{ specimen_json['pedigree'] }}</td>
        </tr>
        <tr>
            <td>Sex</td>
            <td>{{ specimen_json['sex'] }}</td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>{{ specimen_json['dob'].strftime('%m/%d/%y') }}</td>
        </tr>
        <tr>
            <td>Perfusion Date</td>
            <td>{{ specimen_json['perfusion_date'].strftime('%m/%d/%y') }}</td>
        </tr>
        <tr>
            <td>Perfusion Age</td>
            <td>{{ specimen_json['perfusion_age'] }}</td>
        </tr>
        <tr>
            <td>Perfusion Notes</td>
            <td>{{ specimen_json['perfusion_notes'] }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ specimen_json['status'] }}</td>
        </tr>
        <tr>
            <td>Notes</td>
            <td>{{ specimen_json['notes'] }}</td>
        </tr>
        <tr>
            <td>Number of Sections</td>
            <td>{{ specimen_json['no_of_sections'] }}</td>
        </tr>
        <tr>
            <td>Date Added</td>
            <td>{{ specimen_json['date_added'].strftime('%m/%d/%y %I:%M:%S %p') }}</td>
        </tr>
        <tr>
            <td>Last Modified</td>
            <td>{{ specimen_json['last_modified'].strftime('%m/%d/%y %I:%M:%S %p') }}</td>
        </tr>
    </table>

    <hr>

    <h4>Visualization Tools</h4>
{% endblock %}