{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}View Specimens{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="sex">Sex</label>
    <select id="sex" name="sex">
        <option value="both" {% if filters['sex'] == '' %}selected{% endif %}>Both</option>
        <option value="male" {% if filters['sex'] == 'Male' %}selected{% endif %}>Male</option>
        <option value="female" {% if filters['sex'] == 'Female' %}selected{% endif %}>Female</option>
    </select>

    <label for="perfusion_age">Perfusion Age</label>
    <input name="perfusion_age_lower" id="perfusion_age_lower" value="{{ filters['perfusion_age_lower'] }}"> -</input>
    <input name="perfusion_age_upper" id="perfusion_age_upper" value="{{ filters['perfusion_age_upper'] }}"></input>

    <label for="experiment_or_reason">Experiment / Reason</label>
    <input name="experiment_or_reason" id="experiment_or_reason" value="{{ filters['experiment_or_reason'] }}"></input>

    <input name="submit" type="submit" value="Filter">
    <input name="submit" type="submit" value="Reset">
  </form>

  {% for i in range(1, num_pages+1) %}
    {% if i|int == page_num|int %}
      <a>{{ i }}</a>
    {% else %}
      <a href="{{ url_for('tracker.view_specimens', page_num=i) }}">{{ i }}</a>
    {% endif %}
  {% endfor %}

  <table class="table table-striped">
    <thead>
      <tr>
          <th></th>
          <th></th>
        {% for header in headers %}
          <th scope="col">{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for specimen in specimen_list %}
      <tr>
        <td><a href="{{ url_for('tracker.edit', specimen_id=specimen['mouse_id']) }}">Edit</a></td>
        <td><a href="{{ url_for('tracker.delete', specimen_id=specimen['mouse_id']) }}">Delete</a></td>
        <td><a href="{{ url_for('tracker.view_specimens', specimen_id=specimen['mouse_id']) }}">{{ specimen['mouse_id'] }}</a></td>
        <td>{{ specimen['pedigree'] }}</td>
        <td>{{ specimen['experiment_or_reason'] }}</td>
        <td>{{ specimen['sex'] }}</td>
        {% if specimen['dob'] is string %}
          <td>{{ specimen['dob'] }}</td>
        {% else %}
          <td>{{ specimen['dob'].strftime('%m/%d/%y') }}</td>
        {% endif %}
        {% if specimen['perfusion_date'] is string %}
          <td>{{ specimen['perfusion_date'] }}</td>
        {% else %}
          <td>{{ specimen['perfusion_date'].strftime('%m/%d/%y') }}</td>
        {% endif %}
        <td>{{ specimen['date_added'].strftime('%m/%d/%y %I:%M:%S %p') }}</td>
        <td>{{ specimen['last_modified'].strftime('%m/%d/%y %I:%M:%S %p') }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}